.App {
  text-align: center;
}

/* set the background container to the full page */
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.website {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../public/space-stars.avif");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Orbitron', sans-serif;
  cursor: none;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  background: linear-gradient(90deg, #00ffff, #ff00ff, #ffffff);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: galaxyShift 6s ease-in-out infinite;
  text-shadow: 0 0 10px #00f2ff, 0 0 20px #00f2ff, 0 0 30px #00f2ff;
}

@keyframes galaxyShift {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

