.space-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Center the h1 absolutely inside the container */
.space-container h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.067); }
  100% { transform: scale(1); }
}

.planet {
  position: absolute;
  background: none;
  border: none;
  cursor: none;
  padding: 0;
}

.planet img {
  width: 80px;
  transition: transform 0.3s ease;
  animation: pulse 8s infinite ease-in-out;
}

.planet img:hover {
  transform: scale(1.2);
  animation: none
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #FAF9F6;
  padding: 2rem;
  border-radius: 1rem;
  color: black;
  /* max-width: 300px; */
  text-align: center;
}

.close {
  margin-top: 10px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #ECECEC;
  font-size: 12px;
  cursor: none;
  transition: background-color 0.2s ease;
}

.close:hover {
  background-color: #f1959b;
}