.planet-content {
    display: grid;
    place-items: center;
}

.game-container {
    width: 50vw;
    height: calc(50vw * 0.5625); /* 16:9 ratio */
    max-width: 800px;
    max-height: 600px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}


.socials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    margin-bottom: 1rem;
}

.socials-container a {
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    cursor: none;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.socials-container a svg {
    height: 32px;
}

.socials-container a::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
} 

.socials-container a:hover {
    background-color: var(--accent-color);
    fill: white;
}

.socials-container a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}

.socials-container a:hover::before {
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}

.socials-container a:hover::after {
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}

.seeMoreButton {
    background: none;
    border: none;
    color: black;
    font-size: 1em;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color 0.2s ease, text-shadow 0.2s ease;
    margin-bottom: 2rem;
}

h2 {
    padding-top: 0;
    margin-top: 0;
}